body{
    background-color: teal;
}

.brandLogo{
    font-weight: 600;
    color: white;
    font-size: 20px !important;
    font-family: 'Pacifico', cursive;
    letter-spacing: 4px !important
}
.parentDiv{
    padding: 0 !important;
    color: white;
    font-family: 'Lato', sans-serif;
}
.navBarClass{
    background-color: darkslategrey !important;
}
.introDiv{
    text-align: center;
    margin-top: 2.5rem;
}
.indroHeading{
    font-size: 19px;
}
.introLinks{
    color: wheat !important;
}
.carouselDivParent{
    margin-top: 2rem;
    border-radius: 5px;
    width: 67% !important;
    height: 22rem !important;
    overflow: auto;

}
.carousel{
    z-index: 0;
}
.downloadTextDiv {
    text-align: center;
    padding: 3% !important;
    margin-top: 3rem;
    width: 95% !important;
    word-spacing: 1px;
    border-radius: 5px;
    background-color: darkslategrey;
    opacity: 0.9;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.downloadText{
    font-size: 16px;
    letter-spacing: 1.4px;
    color: wheat;
}
.downloadButtonDiv{
    text-align: center;
    margin-top: 1rem;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
  }

.carousel-inner img {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
  }
  .footerText{
      font-size: 12px;
      margin-top: 8px;
      margin-bottom: 8px;
  }
  .fa-heart{
      color: darkred;
  }



  /* media queries for responsivness */
  @media only screen and (min-width: 400px) {

    .carouselDivParent{
        margin-top: 2rem;
        border-radius: 5px;
        width: 50% !important;
        height: 22rem !important;
        overflow: auto;
    }
  }